<p id="notice"><%= notice %></p>

<p>
  <strong>Conteudo:</strong>
  <%= @comentario.conteudo %>
</p>

<p>
  <strong>User:</strong>
  <%= @comentario.user.email %>
</p>

<p>
  <strong>Livro:</strong>
  <%= @comentario.livro.titulo %>
</p>

<%= link_to 'Back', livros_path %>
