<p id="notice"><%= notice %></p>

<p>
  <strong>Conteudo:</strong>
  <%= @comentario.conteudo %>
</p>

<p>
  <strong>User:</strong>
  <%= @comentario.user_id %>
</p>

<p>
  <strong>Livro:</strong>
  <%= @comentario.livro_id %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
