<%= form_with(model: livro) do |form| %>
  <% if livro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(livro.errors.count, "error") %> prohibited this livro from being saved:</h2>

      <ul>
        <% livro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :autor %>
    <%= form.text_field :autor %>
  </div>

  <div class="field">
    <%= form.label :imagem %>
    <%= form.file_field :imagem %>
  </div>

  <div class="field">
    <%= form.label :sinopse %>
    <%= form.text_area :sinopse %>
  </div>

  <div class="field"> 
    <%= form.label :publicado %>
    <%= form.date_select :publicado, :start_year => 1455, :end_year => Time.now.year + 10 %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
