<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @livro.titulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @livro.autor %>
</p>

<div>
  <%= image_tag(@livro.imagem) %>
</div>

<p>
  <strong>Sinopse:</strong>
  <%= @livro.sinopse %>
</p>

<p>
  <strong>Publicado:</strong>
  <%= @livro.publicado %>
</p>

<p>
  <strong>User:</strong>
  <%= @livro.user_id %>
</p>

<% if @livro.user == current_user %>
  <%= link_to 'Edit', edit_livro_path(@livro) %> |
<% end %>
<%= link_to 'Back', livros_path %>
  
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Conteudo</th>
    </tr>
  </thead>
  
  <tbody>
    <% @comentarios.each do |comentario| %>
      <tr>
        <td><%= comentario.user.email %></td>
        <td><%= comentario.conteudo %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  
<% if user_signed_in? %>
  <%# o link do novo comentário é passado com um parâmetro que leva o id do livro a ser comentado %>
  <%= link_to 'New Comentario', new_comentario_path(livro_id: @livro.id)%> 
<% end %>
