<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @livro.titulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @livro.autor %>
</p>

<div>
  <%= image_tag(@livro.imagem) %>
</div>

<p>
  <strong>Sinopse:</strong>
  <%= @livro.sinopse %>
</p>

<p>
  <strong>Publicado:</strong>
  <%= @livro.publicado %>
</p>

<p>
  <strong>User:</strong>
  <%= @livro.user_id %>
</p>

<%= link_to 'Edit', edit_livro_path(@livro) %> |
<%= link_to 'Back', livros_path %>
